
.Burger {
    top:0px;
    position: fixed;
    left: 0;
    margin: 5%;
    cursor: pointer;
}
.sidebar{
    display: flex;
    flex-direction: column;
    min-width: 250px;
    background: rgb(252, 120, 120);
    position: absolute;
    top: 100px;
    list-style: none;
    left: 0;
    padding: 20px;
    transition: 0.4s ease-in;
}
.sidebar ul{
    list-style: none;
}

  
  .sidebar-closed {
    top: 100px;
    min-width: 40px;
    left: 0;
    transition: 0.4s ease-out;
  }