.EditProfile {
    background-color:rgb(252, 120, 120);
    width:100%;
    height:100%;
    position:absolute;
}


.personal_info input,
.personal_info button,
.personal_info textarea {
  margin: 5px auto; /* centered */
  padding: 10px;
  display: block;
  width: 200px;
}



