.login__bg {
    background-image: url("../images/2-loginPic.jpeg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    color: #e9cfc1;
}

.form-label{
    color: #e9cfc1;
}

.text-center{
    color: #e9cfc1;
}

@media (max-width: 768px) {
    .login__bg {
        background-image: url("../images/2-loginPic.jpeg");
        height: 40vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        overflow-x: hidden;
        margin-bottom: 20%;
        color: #e9cfc1;
    }
}

.signupLink {
    color: #e9cfc1;
}