.MentorMeHome{
    background-color:rgb(252, 120, 120);
    width:100%;
    height:100%;
    position: absolute;
    
}

.user-picture {
    border-radius: 8px;
    width: 150px;
    height: 150px;
    display: flex;
    margin: 0;
}


.search{
    clear: both;
    float:left;
}


.image{
    max-width: 35%;
}

