
.PostCommmentPage{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    position: absolute;
}
.advisor-info{
    display: flex;
    flex-direction: column;
    align-items: center; 
    align-content: center;
    text-align: center;
    justify-content: center;
}

.advisor-info p{
    font-size: 40px;
    font-family: 'Balsamiq Sans', cursive;

}

.thetext{
    background-color: white;
    color: black;
    outline-color: black;
}



