.SearchResult {
    display: block;

}

.advisor-picture {
    border-radius: 8px;
    box-shadow: 1px 1px 1px 1px lightgrey;
    width: 100%;
    display: flex;
    margin: 0;

}

.filter_dropdown {
    position: absolute;
}

.advisorPic {
    display: inline;
}

.brief {
    text-align: left;
}

.school-name {
    text-align: left;
}

.clear {
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0
}

.listColor {
    background-color: rgb(252, 120, 120);
}

.list-group {
    padding: 15% 10%;
    /* position: absolute; */
}

.list-group-item {
    background-color: rgb(251, 196, 196);

}