.SearchResult{
}

.advisor-picture{
    border-radius: 8px;
    box-shadow: 1px 1px 1px 1px lightgrey;
    width: 100%;
    display: flex;
    margin:0;

}

.advisorPic{
    display:inline;
}

.brief{
    text-align: left;
}

.school-name{
    text-align: left;
}

.clear {
    clear:both; 
    height: 0; 
    line-height: 0; 
    font-size: 0
}

.listColor{
    background-color: rgb(252, 120, 120);
}