.UserProfile {
    background-color: rgb(252, 120, 120);
    width: 100%;
    height: 100%;
    position: absolute;
}

.main-content {
    background-color: rgb(252, 120, 120);
    width: 100%;
    height: 100%;
    position: absolute;
}

.UserProfile p {
    margin: 10px 30px 10px;
    text-align: center;
}

.Profile-error {
    color: red;
}